html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /* background-color: #fafafa; */
}

.topbar {
    overflow: visible;
    height: 45px;
    line-height: 45px;
    position: relative;
    background-color: #f8f8f8;
    border: 0 solid #e7e7e7;
    margin-bottom: 0;
    border-bottom-width: 1px;
}

.topbar-title {
    display: inline-block;
}

.topbar h1 {
    margin: 0;
    font-size: 1.3em;
    margin-left: 1em;
}

.topbar-right {
    float: right;
}

.topbar-controls {
    display: inline-block;
}

.menubutton-icon {
    display: inline-block;
    font-size: 2em;
    margin: 0 .5em;
    cursor: pointer;
}

.usergrade-block {
    border: 2px solid silver;
    padding: .5em;
    margin: .5em 0;
    background-color: #E2E2E2;
}

.usergrade-block h3 {
    margin: 0;
}

.finalgrade {
    border: 2px solid #555;
    padding: .25em;
    float: right;
    width: 4em;
    text-align: right;
    font-weight: bold;
    background-color: white;
}
.finalmark {
    border: 2px solid #555; padding: .25em; float: right;
    margin-right: .5em;
    width: 4em;
    text-align: right;
    font-weight: bold;
    background-color: white;
}
.componentassessment {
    display: inline-block;
    background-color: #e3e3e3;
    padding: .1em .3em;
    border-radius: 3px;
}

.useractions-outer {
    /* border: 1px solid silver; */
    margin: .5em 0;
}
.useractions-inner {
    border: 1px solid silver;
    left: 0;
    right: 0;
    height: 10.5em;
}
.useractions-adjust {
    /* width: 100%; */
    height: 4em;
    margin: .5em;
}
.useractions-adjust-value {
    font-size: 2em;
    position: absolute;
    top: 2em;
}
.useractions-adjust-controls {
    position: absolute;
    left: 4em;
    right: .5em;
}
.useractions-adjust-controls button {
    /*width: 100%;*/
}
.useractions-title {
    text-align: center;
}

span.prevgrade {
    text-decoration: line-through;
    color: red;
}
span.prevmark {
    text-decoration: line-through;
    color: red;
}
.usergrade-comment {
    background-color: #FFFCE4;
    border: 1px solid #E4D35F;
    margin: 1em 0 0 0;
    padding: .25em;
}
.usergrade-comments {
    margin: .5em;
    padding: .5em;
    border: 1px solid silver;
    background-color: white;
}

.commentsexpander {
    cursor: pointer;
}
.usergrade-comment-byline {
    font-style: italic;
    color: #444;
}


.filtertools {
    background-color: silver;
    margin-top: 1em;
    padding: .5em;
    text-align: center;
}
.filtertools-search {
    display: inline-block;
}
.filtertools-filter {
    display: inline-block;
    /*margin-left: 1em;*/
}
.filtertools-sort {
    display: inline-block;
    /*margin-left: 1em;*/
}
.filtertools-sort select {
    width: 10em;
    text-overflow: ellipsis;
}

.assessment-item {
    border: 1px solid silver;
    padding: .5em;
    margin: .5em 0;
    background-color: #fafafa;
    line-height: 2.5em;
}

.assessmentoptions {
    background-color: silver; margin-top: 1em; padding: .5em;
}


.maxmark input[type="text"] {
    width: 100%;
}

.filtertools-search input[type="text"] {
    display: inline-block;
    width: 10em;
}


.topbar select {
    display: inline-block;
    width: 15em;
}

.topbar input[type="text"] {
    width: 10em;
    display: inline-block;
    margin-left: 2em;
}

.courseactions-innercont {
    border: 1px solid silver;
    width: 100%;
}

.courseactions-controls {
    margin: .5em;
}

.courseactions-controls button {
    width: 100%;
}

.courseactions-title {
    text-align: center;
}

.courseactions-inner {
    position: absolute;
    /* border: 1px solid silver; */
    left: 0;
    right: 0;
    /* height: 10.5em; */
}

.courseactions-outer {
    margin: .5em 0;
}

.subject-block {
    border: 2px solid silver;
    margin: .5em 2em 0 0;
    padding: 0;
    line-height: 2em;
    background-color: #E2E2E2;
}

.subject-block .subject-title {
    margin: 0;
    font-weight: bold;
}

.subjectdetails-nav {
    position: absolute;
    right: 0;
    width: 2em;
    border: 2px solid silver;
    border-width: 2px 2px 2px 0;
    height: 100%;
    top: 0;
    line-height: 6;
    text-align: center;
}

.subjectblock-details {
    padding: 0 .5em;
}


.subjectblock-inner {
    position: relative;
}

.coursestatus {
    font-weight: bold;
    float: left;
    padding: .25em .5em .25em .5em;
    border-bottom-right-radius: .5em;
    margin-right: 1em;
    width: 8em;
    background-color: #AEAEAE;
}

.notstarted {
    /*background-color: #DFC83B;*/
}

.notstarted .statustext:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f071";

}

.inprogress {
    /*background-color: #6BA6D7;*/
}

.inprogress .statustext:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f017";
}

.finished {
    /*background-color: #56AD5C;*/
}

.finished .statustext:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f046";
}

.inactivetext {
    color:gray;
    font-style: italic;
}



.f-dropdown li a {
    text-decoration: none;
}

.f-dropdown li {
    margin: 0;
}

.f-dropdown {
    text-align: left;
}

.f-dropdown {
    padding: 0;
}
